* {
	cursor: url('../resource/cursor/cursor.png'), pointer;
}

body {
	margin: 0;
	height: 100%;
}

@font-face {
	font-family: 'AvQuest';

	src: url('../resource/fonts/avqest-webfont.woff2') format('woff2'),
		 url('../resource/fonts/avqest-webfont.woff') format('woff');

	font-weight: normal;
	font-style: normal;
}

.contenedor-fondo-video {
	position: relative;
	width: 100%;
	height: 100%;
	background-attachment: scroll;
	overflow: hidden;
}

.overlay-video {
	height: 100%;
	width: 100%;
	position: fixed;
	top: 0px;
	left: 0px;
	z-index: -1;
	background: black;
	opacity: 0.4;
}

#video_fondo{
	position: fixed;
	top: 50%;
	left: 50%;
	width: auto;
	height: auto;
	transform: translateX(-50%) translateY(-50%);
	right: 0;
	bottom: 0;
	min-width: 100%;
	min-height: 100%;
	z-index: -2;
}